/*
	Reference Stylesheet for a Typical HTML5 Website Template
*/
/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	Fonts
*/
@font-face {
  font-family: 'MerriweatherRegular';
  src: url("../fonts/merriweather.eot");
  src: url("../fonts/merriweather.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome.eot?v=3.0.1");
  src: url("../font/fontawesome.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../../src/scss/_fonts.scss */
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/*
	Typography
*/
/* line 4, ../../src/scss/_typography.scss */
html {
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 75%;
  height: 100%;
}

/*
	All elements
*/
/* line 12, ../../src/scss/_typography.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

/*
	Sections
*/
/* line 19, ../../src/scss/_typography.scss */
body {
  font-size: 12px;
  font-size: 1rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
  line-height: 21.6px;
  line-height: 1.8rem;
  background: #eee;
  color: #333;
  _height: 100%;
  min-height: 100%;
}

/* line 29, ../../src/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-size: 1rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 6px;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: block;
  font-weight: normal;
}

/* line 35, ../../src/scss/_typography.scss */
h1 {
  font-size: 22.5px;
  font-size: 1.875rem;
}

/* line 38, ../../src/scss/_typography.scss */
h2 {
  font-size: 19.5px;
  font-size: 1.625rem;
}

/* line 41, ../../src/scss/_typography.scss */
h3 {
  font-size: 15px;
  font-size: 1.25rem;
}

/* line 44, ../../src/scss/_typography.scss */
address {
  display: block;
  font-style: normal;
}

/* line 48, ../../src/scss/_typography.scss */
section, nav, article, aside, hgroup, header, footer {
  display: block;
}

/*
	Grouping content
*/
/* line 54, ../../src/scss/_typography.scss */
p {
  font-size: 12px;
  font-size: 1rem;
  display: block;
}

/* line 58, ../../src/scss/_typography.scss */
hr {
  margin-top: 12px;
  margin-top: 1rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 12px;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-left: 0rem;
  background-color: #333;
  border: none;
  clear: both;
  color: #333;
  display: block;
  height: 1px;
  width: 100%;
}

/* line 68, ../../src/scss/_typography.scss */
ul {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 12px;
  margin-bottom: 1rem;
  margin-left: 24px;
  margin-left: 2rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
  display: block;
}

/* line 74, ../../src/scss/_typography.scss */
dl {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 12px;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: block;
}

/* line 78, ../../src/scss/_typography.scss */
dt {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: block;
  font-weight: bold;
}

/* line 83, ../../src/scss/_typography.scss */
dd {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: block;
}

/* line 87, ../../src/scss/_typography.scss */
pre, blockquote, ol {
  display: block;
}

/*
	Text-level semantics
*/
/* line 93, ../../src/scss/_typography.scss */
a {
  color: #ff6a00;
  text-decoration: underline;
}

/* line 97, ../../src/scss/_typography.scss */
a:hover {
  color: #ff9800;
  text-decoration: underline;
}

/* line 101, ../../src/scss/_typography.scss */
sub {
  line-height: 0;
}

/* line 104, ../../src/scss/_typography.scss */
sup {
  line-height: 0;
}

/* line 107, ../../src/scss/_typography.scss */
time, progress, meter {
  display: block;
}

/*
	Embedded content
*/
/* line 113, ../../src/scss/_typography.scss */
img {
  border: none;
  vertical-align: middle;
}

/* line 117, ../../src/scss/_typography.scss */
figure, figcaption, video, audio, canvas {
  display: block;
}

/* Tabular data */
/* line 121, ../../src/scss/_typography.scss */
table {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 12px;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-left: 0rem;
  border-collapse: collapse;
}

/* line 125, ../../src/scss/_typography.scss */
caption {
  font-size: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}

/* line 131, ../../src/scss/_typography.scss */
tr {
  vertical-align: top;
}
/* line 133, ../../src/scss/_typography.scss */
tr:nth-child(2n) {
  background-color: #eeeeee;
}

/* line 135, ../../src/scss/_typography.scss */
th, td {
  padding-top: 6px;
  padding-top: 0.5rem;
  padding-right: 12px;
  padding-right: 1rem;
  padding-bottom: 6px;
  padding-bottom: 0.5rem;
  padding-left: 12px;
  padding-left: 1rem;
}

/* line 138, ../../src/scss/_typography.scss */
th, th a, th a:hover {
  background-color: #ff9800;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
}

/*
	Forms
*/
/* line 149, ../../src/scss/_typography.scss */
form {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
}

/* line 152, ../../src/scss/_typography.scss */
fieldset {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 12px;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-left: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
  display: block;
  border: none;
}

/* line 158, ../../src/scss/_typography.scss */
legend {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 6px;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-left: 0rem;
  display: block;
  font-weight: bold;
}

/* line 164, ../../src/scss/_typography.scss */
input, button, select, textarea {
  font-size: 12px;
  font-size: 1rem;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  vertical-align: baseline;
}

/* line 169, ../../src/scss/_typography.scss */
input[type=date], input[type=email], input[type=number], input[type=text], input[type=password], select, textarea {
  box-shadow: inset 0 0 5px #ccc;
  height: 36px;
  height: 3rem;
  font-size: 12px;
  font-size: 1rem;
  padding: 8.4px;
  padding: 0.7rem;
  margin-top: 8.4px;
  margin-top: 0.7rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 8.4px;
  margin-bottom: 0.7rem;
  margin-left: 0px;
  margin-left: 0rem;
  background: #fff;
  border: solid 1px #333;
  font-family: Arial, Sans-Serif;
}

/* line 179, ../../src/scss/_typography.scss */
input[type=checkbox], input[type=radio] {
  margin-top: 8.4px;
  margin-top: 0.7rem;
  margin-right: 3.6px;
  margin-right: 0.3rem;
  margin-bottom: 8.4px;
  margin-bottom: 0.7rem;
  margin-left: 0px;
  margin-left: 0rem;
}

/* line 182, ../../src/scss/_typography.scss */
select {
  height: 36px;
  height: 3rem;
  padding: 8.4px;
  padding: 0.7rem;
}

/* line 186, ../../src/scss/_typography.scss */
textarea {
  height: 120px;
  height: 10rem;
  padding: 8.4px;
  padding: 0.7rem;
}

/* line 190, ../../src/scss/_typography.scss */
button, .button {
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  height: 36px;
  height: 3rem;
  line-height: 36px;
  line-height: 3rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 12px;
  padding-right: 1rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 12px;
  padding-left: 1rem;
  background-color: #ff6a00;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
}
/* line 205, ../../src/scss/_typography.scss */
button:hover, .button:hover {
  background-color: #ff9800;
  color: #fff;
  text-decoration: none;
}
/* line 210, ../../src/scss/_typography.scss */
button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
  background-color: #7f7f7f;
}

/*
	Interactive elements
*/
/* line 217, ../../src/scss/_typography.scss */
menu {
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 0px;
  margin-left: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
  display: block;
}

/*
	Miscellaneous elements
*/
/* line 225, ../../src/scss/_typography.scss */
div {
  display: block;
}

/*
	For smaller screens
*/
@media (max-width: 480px) {
  /* line 232, ../../src/scss/_typography.scss */
  html {
    font-size: 62.5%;
  }
}
/*
	Clear fix
*/
/* line 6, ../../src/scss/_miscellaneous.scss */
.clearfix {
  *zoom: 1;
}

/* line 9, ../../src/scss/_miscellaneous.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*
	Box sizing
*/
/* line 20, ../../src/scss/_miscellaneous.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/*
	Bicubic image scaling
*/
/* line 26, ../../src/scss/_miscellaneous.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/*
	Circumvents some issues with button rendering
*/
/* line 32, ../../src/scss/_miscellaneous.scss */
button {
  overflow: visible;
}

/* line 35, ../../src/scss/_miscellaneous.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
	Transparent Backdrop
*/
/* line 42, ../../src/scss/_miscellaneous.scss */
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000');
}

/*
	Text-shadow
*/
/* line 49, ../../src/scss/_miscellaneous.scss */
.textshadow {
  text-shadow: 1px 2px 2px #000;
  -webkit-filter: DropShadow(Color=#000000, OffX=1, OffY=2);
          filter: DropShadow(Color=#000000, OffX=1, OffY=2);
}

/*
	central Page
*/
/* line 6, ../../src/scss/_layout.scss */
body {
  background: #ccc url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMjU2cHgiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=') no-repeat;
  background: #ccc linear-gradient(#eeeeee 0%, #cccccc 256px, #cccccc 100%) no-repeat;
}

/* line 9, ../../src/scss/_layout.scss */
#layout {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  margin: 0 auto 0 auto;
  position: relative;
  max-width: 960px;
  min-width: 320px;
}
/* line 18, ../../src/scss/_layout.scss */
#layout > article {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 24px;
  padding-right: 2rem;
  padding-bottom: 12px;
  padding-bottom: 1rem;
  padding-left: 24px;
  padding-left: 2rem;
  background: #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
  display: block;
}
/* line 22, ../../src/scss/_layout.scss */
#layout > article img.demoIcon {
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-left: 12px;
  margin-left: 1rem;
  background: #fff;
  border: solid 1px #000;
  float: right;
  height: 64px;
  width: 64px;
}

/*
	header bar
*/
/* line 40, ../../src/scss/_layout.scss */
#masthead {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #333 url(../img/documentHeader.jpg) 0px -100px;
  height: 96px;
  margin: 0 0 36px 0;
  position: relative;
}
/* line 46, ../../src/scss/_layout.scss */
#masthead .hgroup {
  line-height: 230%;
  padding: 15px 30px 0 30px;
  text-align: right;
}
/* line 50, ../../src/scss/_layout.scss */
#masthead .hgroup h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 2px 2px #000;
  -webkit-filter: DropShadow(Color=#000000, OffX=1, OffY=2);
          filter: DropShadow(Color=#000000, OffX=1, OffY=2);
}
/* line 56, ../../src/scss/_layout.scss */
#masthead .hgroup h2 {
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 2px 2px #000;
  -webkit-filter: DropShadow(Color=#000000, OffX=1, OffY=2);
          filter: DropShadow(Color=#000000, OffX=1, OffY=2);
}

/*
	footer bar
*/
/* line 67, ../../src/scss/_layout.scss */
#footnotes {
  clear: both;
  background: #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
  height: 60px;
  line-height: 60px;
  position: relative;
}
/* line 73, ../../src/scss/_layout.scss */
#footnotes ul {
  margin: 0;
  padding: 0 3%;
}
/* line 76, ../../src/scss/_layout.scss */
#footnotes ul li {
  display: inline;
  list-style-type: none;
}
/* line 80, ../../src/scss/_layout.scss */
#footnotes ul li a img {
  margin-right: 1em;
  vertical-align: middle;
}

/*
	print styles
*/
@media print {
  /* line 93, ../../src/scss/_layout.scss */
  body > section > header,
  body > section > footer {
    display: none;
  }
}
/*
	example with the default aside
*/
/* line 6, ../../src/scss/_examples.scss */
section.example {
  background: #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
  display: block;
  *zoom: 1;
}
/* line 10, ../../src/scss/_examples.scss */
section.example > article {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 24px;
  padding-right: 2rem;
  padding-bottom: 24px;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-left: 2rem;
  display: block;
  float: right;
  width: 50%;
}
/* line 16, ../../src/scss/_examples.scss */
section.example > article p {
  text-align: justify;
}
/* line 20, ../../src/scss/_examples.scss */
section.example > aside {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 24px;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-left: 2rem;
  display: block;
  float: left;
  width: 50%;
}

/* line 27, ../../src/scss/_examples.scss */
section.example:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*
	example with the smaller aside on the left
*/
/* line 38, ../../src/scss/_examples.scss */
section.example-left {
  background: #fff url(../img/texture_shadow_top.png) no-repeat -480px 0;
}
/* line 40, ../../src/scss/_examples.scss */
section.example-left > article {
  float: right;
}
/* line 43, ../../src/scss/_examples.scss */
section.example-left > aside {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 24px;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-left: 2rem;
  float: left;
}

/*
	example with the smaller aside on the right
*/
/* line 51, ../../src/scss/_examples.scss */
section.example-right {
  background: #fff url(../img/texture_shadow_top.png) no-repeat 480px 0;
}
/* line 53, ../../src/scss/_examples.scss */
section.example-right > article {
  float: left;
}
/* line 56, ../../src/scss/_examples.scss */
section.example-right > aside {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 24px;
  padding-right: 2rem;
  padding-bottom: 24px;
  padding-bottom: 2rem;
  padding-left: 0px;
  padding-left: 0rem;
  float: right;
}

/*
	example with the smaller aside on the right
*/
/* line 64, ../../src/scss/_examples.scss */
section.example-full {
  background: #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
}
/* line 66, ../../src/scss/_examples.scss */
section.example-full > article {
  padding-top: 24px;
  padding-top: 2rem;
  padding-right: 24px;
  padding-right: 2rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 24px;
  padding-left: 2rem;
  float: none;
  width: 100%;
}
/* line 71, ../../src/scss/_examples.scss */
section.example-full > aside {
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 24px;
  padding-right: 2rem;
  padding-bottom: 24px;
  padding-bottom: 2rem;
  padding-left: 24px;
  padding-left: 2rem;
  float: none;
  width: 100%;
}

/*
	example without the aside
*/
/* line 80, ../../src/scss/_examples.scss */
section.example-no {
  background: #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
}
/* line 82, ../../src/scss/_examples.scss */
section.example-no > article {
  float: left;
  width: 100%;
}

/*
	for smaller screens
*/
@media (max-width: 767px) {
  /* line 91, ../../src/scss/_examples.scss */
  section.example > article {
    padding-top: 24px;
    padding-top: 2rem;
    padding-right: 24px;
    padding-right: 2rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 24px;
    padding-left: 2rem;
    float: none;
    width: 100%;
  }

  /* line 96, ../../src/scss/_examples.scss */
  section.example > aside {
    padding-top: 24px;
    padding-top: 2rem;
    padding-right: 24px;
    padding-right: 2rem;
    padding-bottom: 24px;
    padding-bottom: 2rem;
    padding-left: 24px;
    padding-left: 2rem;
    float: none;
    width: 100%;
  }
}
/*
	navigation
*/
/* line 6, ../../src/scss/_navigation.scss */
#shortcuts {
  box-shadow: 0 1px 3px #999;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background: #333 url(../img/documentHeader.jpg) 0px -196px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  max-width: 960px;
  z-index: 10000;
}
/* line 17, ../../src/scss/_navigation.scss */
#shortcuts menu {
  max-height: 240px;
  margin: 36px 0 36px 0;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0 15px 15px;
}
/* line 24, ../../src/scss/_navigation.scss */
#shortcuts menu li {
  float: left;
  height: 100px;
  list-style-type: none;
  margin-right: 15px;
  overflow: visible;
  text-align: center;
  width: 88px;
}
/* line 32, ../../src/scss/_navigation.scss */
#shortcuts menu li a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 0 1px #333;
}
/* line 37, ../../src/scss/_navigation.scss */
#shortcuts menu li a img {
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background: #fff;
  border: solid 1px #000;
  height: 64px;
  width: 64px;
}
/* line 48, ../../src/scss/_navigation.scss */
#shortcuts menu li a span {
  display: block;
}
/* line 52, ../../src/scss/_navigation.scss */
#shortcuts menu li a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
}
/* line 56, ../../src/scss/_navigation.scss */
#shortcuts menu li a:hover img {
  box-shadow: 0 0 5px #fff;
}
/* line 62, ../../src/scss/_navigation.scss */
#shortcuts a.opener {
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  color: #fff;
  bottom: 0;
  display: block;
  font-size: 18px;
  font-size: 1.5rem;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 79, ../../src/scss/_navigation.scss */
#shortcuts a.nav-active {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 82, ../../src/scss/_navigation.scss */
#shortcuts a.nav-passive {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 85, ../../src/scss/_navigation.scss */
#shortcuts.nav-closed {
  max-height: 36px;
}
/* line 88, ../../src/scss/_navigation.scss */
#shortcuts.nav-open {
  max-height: 360px;
}
/* line 91, ../../src/scss/_navigation.scss */
#shortcuts.scroll-locked {
  position: fixed;
  top: 0px;
}
/* line 95, ../../src/scss/_navigation.scss */
#shortcuts.scroll-unlocked {
  position: absolute;
  top: 96px;
}

/*
	for smaller screens
*/
@media (max-width: 480px) {
  /* line 104, ../../src/scss/_navigation.scss */
  #shortcuts menu li {
    margin-right: 0;
    width: 95px;
  }
}
