/*
	Navigation
*/
@media all {
	@import "compass/css3";
	@import "compass/utilities";
	/*
		navigation
	*/
	body {
		> section {
			> nav {
				@include box-shadow(0 1px 3px #999);
				@include transition-property(max-height);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease);
				background : #333 url(../img/documentHeader.jpg) 0px -196px;
				overflow : hidden;
				position : absolute;
				top : 96px;
				max-width : 960px;
				z-index : 10000;
				menu {
					max-height : 240px;
					margin : 36px 0 36px 0;
					overflow : auto;
					overflow-x : hidden;
					-webkit-overflow-scrolling : touch;
					padding : 15px 0 15px 15px;
					li {
						float : left;
						height : 100px;
						list-style-type : none;
						margin-right : 15px;
						overflow : visible;
						text-align : center;
						width : 88px;
						a {
							color : #fff;
							font-weight : normal;
							text-decoration : none;
							text-shadow : 0 0 1px #333;
							img {
								@include border-radius(3px);
								@include box-shadow(0 0 5px #333);
								@include transition-property(all);
								@include transition-duration(0.3s);
								@include transition-timing-function(ease);
								background : #fff;
								border : solid 1px #000;
								height : 64px;
								width : 64px;
							}
							span {
								display : block;
							}
						}
						a:hover {
							color : #fff;
							text-decoration : none;
							text-shadow : 0 0 5px #fff;
							img {
								@include box-shadow(0 0 5px #fff);
							}
						}
					}
				}
				a.opener {
					@include transition-property(max-height);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease);
					color : #fff;
					bottom : 0;
					display : block;
					font-size : 18px;
					font-size : 1.5rem;
					font-weight : bold;
					height : 36px;
					line-height : 36px;
					position : absolute;
					text-align : center;
					text-decoration : none;
					width : 100%;
				}
				a.nav-active {
					@include transform(rotate(0deg));
				}
				a.nav-passive {
					@include transform(rotate(180deg));
				}
			}
			> nav.nav-closed {
				max-height : 36px;
			}
			> nav.nav-open {
				max-height : 360px;
			}
			> nav.scroll-locked {
				position : fixed;
				top : 0px;
			}
			> nav.scroll-unlocked {
				position : absolute;
				top : 96px;
			}
		}
	}
}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {
	body {
		> section {
			> nav {
				menu {
					li {
						margin-right : 0;
						width : 95px;
					}
				}
			}
		}
	}
}
@media print {}
