/*
	central Page
*/
body {
	background: #ccc linear-gradient(#eee 0%, #ccc 256px, #ccc 100%) no-repeat;
}
#layout {
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
	background : #fff;
	border-left : solid 1px #e4e4e4;
	border-right : solid 1px #e4e4e4;
	margin : 0 auto 0 auto;
	position : relative;
	max-width : 960px;
	min-width : 320px;
	> article {
		@include rems('padding', 2, 2, 1, 2);
		background : #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
		display : block;
		img.demoIcon {
			border-radius: 3px;
			box-shadow: 0 0 5px #333;
			transition-property: all;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			@include rems('margin', 0, 0, 0, 1);
			background : #fff;
			border : solid 1px #000;
			float : right;
			height : 64px;
			width : 64px;
		}
	}
}
/*
	header bar
*/
#masthead {
	opacity: 0.9;
	background : #333 url(../img/documentHeader.jpg) 0px -100px;
	height : 96px;
	margin : 0 0 36px 0;
	position : relative;
	.hgroup {
		line-height : 230%;
		padding : 15px 30px 0 30px;
		text-align : right;
		h1 {
			color : #fff;
			font-weight : bold;
			text-shadow : 1px 2px 2px #000;
			filter : DropShadow(Color=#000000, OffX=1, OffY=2);
		}
		h2 {
			color : #fff;
			font-weight : normal;
			text-shadow : 1px 2px 2px #000;
			filter : DropShadow(Color=#000000, OffX=1, OffY=2);
		}
	}
}
/*
	footer bar
*/
#footnotes {
	clear : both;
	background : #fff url(../img/texture_shadow_top.png) no-repeat 50% 0;
	height : 60px;
	position : relative;
	display: flex;
	align-items: center;
	padding: 1em;
	figure {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		> a {
			display: inline-block;
			flex: 0 1 auto;
			padding: 0 1em;
			img {
				vertical-align: top;
			}
		}
		figcaption {
			display: inline-block;
			flex: 1 1 auto;
			padding: 0 1em;
			line-height: 1.5;
		}
	}
}
/*
	print styles
*/
@media print {
	body > section > header,
	body > section > footer {
		display : none;
	}
}
