/*
	navigation
*/
#shortcuts {
	box-shadow: 0 1px 3px #999;
	transition-property: max-height;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	background : #333 url(../img/documentHeader.jpg) 0px -196px;
	overflow : hidden;
	position : absolute;
	top : 96px;
	max-width : 960px;
	z-index : 10000;
	menu {
		max-height : 240px;
		margin : 36px 0 36px 0;
		overflow : auto;
		overflow-x : hidden;
		-webkit-overflow-scrolling : touch;
		padding : 15px 0 15px 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
		li {
			flex: 0 1 10%;
			list-style-type : none;
			overflow : visible;
			text-align : center;
			padding: 10px;
			a {
				color : #fff;
				font-weight : normal;
				text-decoration : none;
				text-shadow : 0 0 1px #333;
				img {
					border-radius: 3px;
					box-shadow: 0 0 5px #333;
					transition-property: all;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					background : #fff;
					border : solid 1px #000;
					height : 64px;
					width : 64px;
				}
				span {
					display : block;
				}
			}
			a:hover {
				color : #fff;
				text-decoration : none;
				text-shadow : 0 0 5px #fff;
				img {
					box-shadow: 0 0 5px #fff;
				}
			}
		}
	}
	a.opener {
		transition-property: max-height;
		transition-duration: 0.3s;
		transition-timing-function: ease;
		color : #fff;
		bottom : 0;
		display : block;
		font-size : 18px;
		font-size : 1.5rem;
		font-weight : bold;
		height : 36px;
		line-height : 36px;
		position : absolute;
		text-align : center;
		text-decoration : none;
		width : 100%;
	}
	a.nav-active {
		transform: rotate(0deg);
	}
	a.nav-passive {
		transform: rotate(180deg);
	}
	&.nav-closed {
		max-height : 36px;
	}
	&.nav-open {
		max-height : 360px;
	}
	&.scroll-locked {
		position : fixed;
		top : 0px;
	}
	&.scroll-unlocked {
		position : absolute;
		top : 96px;
	}
}
/*
	for smaller screens
*/
@media (max-width: 480px) {
	#shortcuts menu li {
		margin-right : 0;
		width : 95px;
	}
}
